# Unity spesifik
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# Paketler
/[Pp]ackages/manifest.json.meta
/[Pp]ackages/packages-lock.json.meta

# Crash Reports
sysinfo.txt

# OS / IDE gereksiz dosyalar
.DS_Store
Thumbs.db
